@layer base {
    * {
      box-sizing: border-box;
    }
  
    html,
    body,
    #root {
      width: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 300;
      font-style: normal;
      overflow-x: hidden;
      background-color: black;
    }


    @media (max-width: 1200px) {
      #root {
        background-color: #0e1e28; /* Color for smaller screens */
      }
    }


    @media (max-width: 430px) {
      #root.recording-active {
        background-color: #2f2f2f; /* Color for smaller screens */
      }
    }
    
  
    /* Background */
  
    body {
      background: #000000;
      /* background: url('../assets/images/Footer Rocks Dark.png') no-repeat bottom / contain, url('../assets/images/star-background.svg'), linear-gradient(#111E45, #0E3D8B);
      background-attachment: fixed; */
      color: #e91e63;
    }
    

    /* Scene container */
    .scene-container {
      position: relative;
      overflow: hidden;
      display: flex;
      transition: transform 0.3s ease;
    }
  
    /* Scene mount should flexibly adjust */
    .scene-mount {
      flex: 1;
      height: 100%;
      transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    }

    .scene-container.chat-active .scene-mount {
      transform: translateX(-20%);
      transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    }
  
    /* Sidebar */
    .sidebar {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      color: white;
      padding: 20px;
      display: flex;
      overflow-y: hidden;
      flex-direction: column;
      transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
      border-radius: 0; /* No border radius initially */
    }
  
    /* Modify sidebar when active to appear as a square */
    .scene-container.chat-active .sidebar {
      width: 40%;
      /* height: 90%;  */
      /* top: 50%; */
      overflow-y: hidden;
      /* right: 50px;  */
      /* transform: translateY(-50%); */
      border-radius: 20px;
      /* border-color: #f7f7f7; */
      /* border-style: solid; */
      /* border-width: 1px; */
    }
  
    /* Messages container */
    .messages-container {
      flex: 1;
      margin-bottom: 20px;
      overflow-y: auto;
    }
  
    /* Individual message */
    .message {
      display: flex;
      margin-bottom: 8px;
    }
  
    .user-message {
      justify-content: flex-end;
    }
  
    .bot-message {
      justify-content: flex-start;
    }
  
    .message-content {
      max-width: 70%;
      padding: 12px 16px;
      overflow-x: hidden;
      border-radius: 8px;
      font-size: 14px;
      line-height: 1.5;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word; 
}
  
    .user-message .message-content {
      color: #0e1e28;
      background-color: #969696;
    }
  
    .bot-message .message-content {
      color: #5aeeff;
      background-color: #0000009c;
    }
  
    /* Form styles */
    .message-form {
      display: flex;
      width: 100%;
      align-items: center;
      background-color: #0000009c;
      border: 2px solid #e3f2fd; /* Add border width and style */
      padding: 12px;
      border-radius: 12px;
      transition: background-color 0.3s ease;
    }
  
    .scene-container.chat-active .message-form {
      background-color: #0000009c; /* Darker background when active */
    }
  
    .message-input {
      flex: 1;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-right: 10px;
      background-color: transparent;
      color: rgb(255, 255, 255);
      outline: none; /* Remove default outline */
    }
  
    .send-button,
    .record-button {
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .record-button {
      padding: 10px;
      border-radius: 50%;
      margin-left: 10px;
    }
  
    .record-button.recording {
      background-color: red;
    }
  
    /* Close Chat Button */
    .close-chat-button {
      align-self: flex-end;
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      margin-bottom: 10px;
    }


    .fade-in {
      animation: fadeIn 0.5s ease-in-out;
    }
    
    .fade-in-out {
      animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 1.5s;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
    
    .loading-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Full screen height */
      background: linear-gradient(135deg, #243e73, #0b1011, #243e73); /* Darker background */
    }
    




    
/* FORM STYLING */

/* Main container styling */
.step-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #243e73, #0b1011, #243e73); /* Darker background */
  padding: 16px;
  box-sizing: border-box;
}

.step-form-box {
  width: 100%;
  max-width: 800px;
  border-color: #5aeeff;
  border-style: solid;
  border-width: thin; /* Equivalent to the browser's minimal supported border */
  border-radius: 24px;
  padding: 48px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
}

/* Header styling */
.header-text {
  font-weight: 800;
  color: #5aeeff;
  text-shadow: 0px 4px 8px rgba(63, 81, 181, 0.3);
  font-size: 2.4rem;
  padding-top: 25px;
}

.subtitle-text {
  font-size: 1rem;
  color: #555555;
  margin-top: 8px;
  padding-bottom: 25px;
}
/* Stepper styling */
.MuiStepLabel-labelContainer {
  margin-top: -8px; 
}

.MuiStepLabel-iconContainer {
  padding: 0 !important; 
  margin-bottom: -6px;
}

.MuiStepIcon-root {
  width: 32px;
  height: 32px;
}

.MuiStepIcon-text {
  font-size: 0.75rem; 
  font-weight: bold;
}

/* Step content styling */
.step-form-content {
  margin-top: 32px;
}

/* Text fields */
.text-field {
  margin-bottom: 24px;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 20px;
  padding: 8px;
}

.text-field.large {
  min-height: 120px;
}

/* Action buttons */
.step-form-actions {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.back-button {
  color: #3f51b5;
  border-color: #3f51b5;
  transition: all 0.3s ease;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 20px;
}

.back-button:hover {
  background-color: #e3f2fd;
}

.next-button {
  background-color: #3f51b5;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;

}

.next-button:hover {
  background-color: #283593;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


    











/* MOBILE AND DIFFERENT SCREENS     */
@media (max-width: 1400px) {
  /* Sidebar base styling */
  .sidebar {
    width: 100%;
    top: 50%; /* Move to lower half by default */
    max-height: 50%;
    position: absolute; /* Ensure it can be positioned */
    border-color: #000000;
    transition: top 0.3s ease; /* Smooth transition when chat is active */
  }

  /* Adjust sidebar when chat is active */
  .scene-container.chat-active .sidebar {
    top: 50%; /* Stay in the lower half */
    background-color: transparent;
    width: 100%;
  }

  /* Message container base styling */
  .messages-container {
    width: 100%;
    top: 80%; /* Default to lower half */
    opacity: 0;
    transition: top 0.3s ease; /* Smooth transition when chat is active */
  }

  /* Message container when chat is active */
  .scene-container.chat-active .messages-container {
    top: -10%; /* Stay in lower half */
    min-height: 100px;
    opacity: 1;
  }

  .scene-container.chat-active .message-form {
    top: -10%; /* Stay in lower half */
    width: 100%;
    opacity: 1;
  }

  /* Scene mount behavior */
  .scene-container.chat-active .scene-mount {
    transform: translateY(-25%); /* Move scene upwards */
    max-height: 100vh;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, 
                top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
  }
#root {
  background-color: #02060b; /* Color for smaller screens */
}
}





    @media (max-width: 1200px) {
        /* Sidebar base styling */
        .sidebar {
          width: 100%;
          top: 50%; /* Move to lower half by default */
          max-height: 50%;
          position: absolute; /* Ensure it can be positioned */
          border-color: #000000;
          transition: top 0.3s ease; /* Smooth transition when chat is active */
        }
      
        /* Adjust sidebar when chat is active */
        .scene-container.chat-active .sidebar {
          top: 50%; /* Stay in the lower half */
          background-color: transparent;
          width: 100%;
        }
      
        /* Message container base styling */
        .messages-container {
          width: 100%;
          top: 80%; /* Default to lower half */
          opacity: 0;
          transition: top 0.3s ease; /* Smooth transition when chat is active */
        }
      
        /* Message container when chat is active */
        .scene-container.chat-active .messages-container {
          top: -10%; /* Stay in lower half */
          min-height: 100px;
          opacity: 1;
        }

        .scene-container.chat-active .message-form {
          top: -10%; /* Stay in lower half */
          width: 100%;
          opacity: 1;
        }
      
        /* Scene mount behavior */
        .scene-container.chat-active .scene-mount {
          transform: translateY(-25%); /* Move scene upwards */
          max-height: 100vh;
          transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, 
                      top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
        }
      #root {
        background-color: #02060b; /* Color for smaller screens */
      }
    }

  
      @media (max-width: 900px) {
        /* Sidebar base styling */
        .sidebar {
          width: 100%;
          top: 50%; /* Move to lower half by default */
          max-height: 50%;
          position: absolute; /* Ensure it can be positioned */
          border-color: #000000;
          transition: top 0.3s ease; /* Smooth transition when chat is active */
        }
      
        /* Adjust sidebar when chat is active */
        .scene-container.chat-active .sidebar {
          top: 50%; /* Stay in the lower half */
          background-color: transparent;
          width: 100%;
        }
      
        /* Message container base styling */
        .messages-container {
          width: 100%;
          top: 80%; /* Default to lower half */
          opacity: 0;
          transition: top 0.3s ease; /* Smooth transition when chat is active */
        }
      
        /* Message container when chat is active */
        .scene-container.chat-active .messages-container {
          top: -10%; /* Stay in lower half */
          min-height: 100px;
          opacity: 1;
        }

        .scene-container.chat-active .message-form {
          top: -10%; /* Stay in lower half */
          width: 100%;
          opacity: 1;
        }
      
        /* Scene mount behavior */
        .scene-container.chat-active .scene-mount {
          transform: translateY(-25%); /* Move scene upwards */
          max-height: 100vh;
          transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, 
                      top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
        }

      #root {
        background-color: #07131b; /* Color for smaller screens */
      }
    }


    @media (max-width: 821px) {
      #root {
        background-color: #010305; /* Color for smaller screens */
      }
    }



    @media (max-width: 768px) {
      #root {
        background-color: #040c12; /* Color for smaller screens */
      }
    }
  
      /* Smaller screens (e.g., iPhone) */
      @media (max-width: 430px) {
        /* Sidebar base styling */
        .sidebar {
          width: 100%;
          top: 50%; /* Move to lower half by default */
          max-height: 50%;
          position: absolute; /* Ensure it can be positioned */
          border-color: #000000;
          transition: top 0.3s ease; /* Smooth transition when chat is active */
        }
      
        /* Adjust sidebar when chat is active */
        .scene-container.chat-active .sidebar {
          top: 50%; /* Stay in the lower half */
          background-color: transparent;
        }
      
        /* Message container base styling */
        .messages-container {
          width: 100%;
          top: 80%; /* Default to lower half */
          opacity: 0;
          transition: top 0.3s ease; /* Smooth transition when chat is active */
        }
      
        /* Message container when chat is active */
        .scene-container.chat-active .messages-container {
          top: -10%; /* Stay in lower half */
          min-height: 100px;
          opacity: 1;

        }
      
        /* Scene mount behavior */
        .scene-container.chat-active .scene-mount {
          transform: translateY(-25%); /* Move scene upwards */
          max-height: 100vh;
          transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, 
                      top 0.3s ease, right 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
        }

      #root {
        background-color: #07131b; /* Color for smaller screens */
      }
    }

    

    @media (max-width: 414px) {
      #root {
        background-color: #0a1720; /* Color for smaller screens */
      }
    }


    @media (max-width: 390px) {
      #root {
        background-color: #0b1a24; /* Color for smaller screens */
      }
    }

    @media (max-width: 375px) {
      #root {
        background-color: #162b39; /* Color for smaller screens */
      }
    }

    @media (max-width: 360px) {
      #root {
        background-color: #0F202F; /* Color for smaller screens */
      }
    }





      /* .overflow-scroll-gradient {
        position: relative;
      }
      
      .overflow-scroll-gradient::before {
        content: '';
        position: absolute;
        top: 0;
        width: 390px;
        height: 30px;
        background: linear-gradient(#07131b, rgba(14, 30, 40, 0.001));
      }
      
      .overflow-scroll-gradient::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 390px;
        height: 25px;
        background: linear-gradient(rgba(15, 30, 40, 0.01), #07131b);
      }
      
      .overflow-scroll-gradient__scroller {
        overflow-y: scroll;
        height: 322px;
        line-height: 1.2;
        text-align: center;
      } */
      
}
